{% extends "base.html" %}

{% load static %}
{% load active_link_tags %}
{% load i18n %}
{% block title %}Аналитика по пользователям{% endblock %}

{% block content %}

<header>
  <div class="container d-flex justify-content-between align-items-center py-3">
    <nav class="my-auto nav-item dropdown">
      <a href="{% url 'stats:region_statistics' %}" class="{% if view_name == 'stats:region_statistics' %}active{% endif %}">{% trans "Регионы" %}</a>
      <a href="{% url 'stats:team_statistics' %}" class="{% if view_name == 'stats:region_statistics' %}active{% endif %}">{% trans "Команды" %}</a>
      <a href="{% url 'stats:user_statistics' %}" class="{% if view_name == 'stats:region_statistics' %}active{% endif %}">{% trans "Участники" %}</a>
    </nav>
  </div>
</header>
<h2>Аналитика по регионам</h2>
<table>
  <thead>
  <tr>
    <th>Регион</th>
    <th>Количество мероприятий</th>
  </tr>
  </thead>
  <tbody>
  {% for stat in region_stats %}
  <tr>
    <td>{{ stat.meropriation__region__name }}</td>
    <td>{{ stat.total }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<script src="{% static '/js/chart.js' %}"></script>
<canvas id="regionStatsChart" style="max-width:1000px; max-height:600px;"></canvas>
<script>
    const regionData = {{ region_stats|safe }};

    const labels = regionData.map(item => item.meropriation__region__name);
    const data = regionData.map(item => item.total_events);
    const participants = regionData.map(item => item.total_participants);

    const ctx = document.getElementById('regionStatsChart').getContext('2d');
    new Chart(ctx, {
        type: 'pie', // Круговая диаграмма
        data: {
            labels: labels,
            datasets: [{
                label: 'Количество мероприятий',
                data: data,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },
            {
                label: 'Количество участников',
                data: participants,
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>

{% endblock %}
