{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ personal.username }}{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <!-- Заголовок -->
    <div class="col-12 text-center mb-4">
      <h2>{% trans "Подробная информация о пользователе" %}</h2>
    </div>

    <!-- Карточка с информацией о пользователе -->
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-lg">
        <div class="card-header text-center">
          <!-- Аватарка и имя пользователя -->
          <div class="d-flex justify-content-center align-items-center">
            <div class="ml-3">
              <img src="{% if personal.has_avatar %}{{personal.get_small_avatar }}{% else %}{% static 'img/default_user_avatar.jpg' %}{% endif %}" class="rounded-circle" alt="{{personal.first_name }} {{personal.last_name }}" style="width: 80px; height: 80px; object-fit: cover;">
              <h4 class="text-muted">{% trans "Профиль пользователя" %}</h4>
              <h3 class="mb-0">{{ personal.first_name }} {{ personal.last_name }}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4">
              <strong>{% trans "Username:" %}</strong>
            </div>
            <div class="col-md-8">
              {{ personal.username }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <strong>{% trans "Email:" %}</strong>
            </div>
            <div class="col-md-8">
              {{ personal.email }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <strong>{% trans "Регион:" %}</strong>
            </div>
            <div class="col-md-8">
              {% if personal.region %}
                {{personal.region.name }}
              {% else %}
                {% trans "Регион не установлен" %}
              {% endif %}
            </div>
          </div>

          {% if user.is_superuser %}
          <form method="post" action="{% url 'users:update_user_region' personal.pk %}">
            {% csrf_token %}
            <div class="mb-3">
              {{ region_form.region }}
            </div>
            <button type="submit" class="btn btn-success mb-2">{% trans "Обновить регион" %}</button>
          </form>

          <form method="post" action="{% url 'users:remove_user_region' personal.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-2">{% trans "Удалить регион" %}</button>
          </form>
          {% endif %}

          <div class="text-center">
            <a href="{% url 'users:users' %}" class="btn btn-outline-primary">
              <i class="bi bi-arrow-left-circle"></i> {% trans "Назад к списку" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
