{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Мероприятия{% endblock %}

{% block content %}

<div class="container my-5">
  <h2 class="text-center text-primary mb-4">{% trans "Все мероприятия" %}</h2>

  {% if meropriations %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for meropriation in meropriations %}
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ meropriation.name }}</h5>
              <p class="card-text text-muted">{{ meropriation.place }}</p>
              <p class="card-text text-muted">{{ meropriation.normal_place }}</p>
              {% if meropriation.is_published %}
                <p class="badge bg-success">{% trans "Мероприятие опубликовано" %}</p>
              {% else %}
                <p class="badge bg-danger">{% trans "Мероприятие не опубликовано" %}</p>
              {% endif %}
            </div>
            <div class="card-footer text-end">
              <a href="{% url 'meropriations:meropriation_detail' meropriation.pk %}" class="btn btn-outline-primary btn-sm" style="margin-bottom: 15px;">
                {% trans "Подробнее" %}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-center text-muted">{% trans "Нет мероприятий" %}</p>
  {% endif %}
  {% if not user.is_staff %}
    <div class="mt-4 text-center">
      <a href="{% url 'meropriations:meropriation_new' %}" class="btn btn-primary">
        {% trans "Добавить мероприятие" %}
      </a>
    </div>
  {% endif %}
</div>

{% endblock %}
