{% extends "base.html" %}

{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
  <h2>Мероприятия</h2>
  <div class="card-group">
    {% for meropriation in meropriations %}
      {{ meropriation.name }}
      {{ meropriation.status }}
      <a href="{% url 'meropriations:meropriation_detail' meropriation.pk %}">Подробнее</a>
    {% empty %}
      <p>Список пуст</p>
    {% endfor %}
  </div>
  <a href="{% url 'meropriations:meropriation_new' %}">New</a>
</div>

{% endblock %}