{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Обратная связь' %}{% endblock %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-50 border-0 rounded-lg">
        <h2 class="text-center mb-4 text-primary fw-bold">{% trans 'Свяжитесь с нами' %}</h2>

        <form method="post" class="needs-validation" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="author_form" class="form-label">{% trans 'Ваше имя' %}</label>
                {{ author_form.as_p }}
            </div>
            <div class="mb-4">
                <label for="content_form" class="form-label">{% trans 'Сообщение' %}</label>
                {{ content_form.as_p }}
            </div>
            <div class="mb-4">
                <label for="files_form" class="form-label">{% trans 'Прикрепить файлы' %}</label>
                {{ files_form.as_p }}
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg mt-3">
                    <i class="bi bi-envelope-fill"></i> {% trans 'Отправить сообщение' %}
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
